*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #ff216d, #2196fd);
}

.navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menuToggle{
    position: relative;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}
.menuToggle::before{
    content: "+";
    font-size: 3em;
    font-weight: 400;
    color: #ff216d;
    transition: 1.5s;
}

.menuToggle.Active::before{
    transform: rotate(225deg);
}

.menu{
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 70px;
    z-index: -9;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuToggle.Active ~ .menu{
    width: 240px;
    height: 70px;
    z-index: 1;
    transform: translateY(-100px);
    transition-delay: 1s, 0.5s, 0.5s;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.menu::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    left: calc(50% - 8px);
    bottom: 4px;
    transform: rotate(45deg);
    border-radius: 2px;
    transition: .5s;
}

.menuToggle.Active ~ .menu::before{
    bottom: -6px;
    transition-delay: .5s;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 40px;
}
.menu ul li{
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
    transition-delay: calc(0s + var(--i));
    transform: translateY(-30px);
}

.menuToggle.Active ~ .menu ul li{
    visibility: visible;
    opacity: 1;
    transition-delay: calc(.75s + var(--i));
    transform: translateY(0px);
}

.menu ul li a{
    display: block;
    text-decoration: none;
    font-size: 2em;
    color: #555;
    transition: .5s;
}

.menu ul li a:hover{
    color: #ff216d;
}